@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    scroll-padding-top: 100px;
}

body {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    height: "100000px";
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
}

.navbar {
    border-radius: 50px;
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    display: inline-block;
    bottom: 3%;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-decoration: none;
    transition: all 0.4s ease;
}

.nav-link:hover {
    color: rgb(219, 109, 109);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.profile-icon {
    width: 100px;
}

