@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    scroll-padding-top: 100px;
}

body {
    background-color: rgb(208, 233, 240);
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    height: "100000px";
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
}

/* NAVBAR */
.navbar {
    border-radius: 50px;
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    display: inline-block;
    bottom: 3%;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 80%;
}

.nav-link {
    text-decoration: none;
    transition: all 0.4s ease;
}

.nav-link:hover {
    color: rgb(219, 109, 109);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* CONTENT */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* ABOUT SECTION */
#about {
    justify-content: center;
    height: 80vh;
}

/* PROFILE ICON */
.section__pic-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.profile-icon {
    width: 100px;
    border: 8px solid white;
}

/* PROFILE TEXT */
.section__text {
    text-align: center;
    margin-top: 50px;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.section__text p {
    font-weight: 600;
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-size: xx-large;
}

/* PROFILE BUTTONS */
.btn-container {
    justify-content: center;
    gap: 1rem;
    min-width: 100px;
}

.btn-with-text {
    font-size: 24px;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    transition: all 0.4s ease;
}

.btn-with-text:hover {
    color: white;
    background-color: black;
    transform: scale(1.2);
}

.icon {
    cursor: pointer;
    height: 45px;
    border: 4px solid white;
    border-radius: 50px;
}

.btn-with-icon {
    border-radius: 100px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.btn-with-icon:hover {
    transform: scale(1.5);
}

/* PROJECTS SECTION */
#projects {
    justify-content: center;
    height: 80vh;
}

.projects-item {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.projects-link {
    transition: all 0.4s ease;
    border: none;
}

.projects-image {
    transition: all 0.4s ease;
}

.projects-image:hover {
    opacity: 80%;
    transition: all 0.2s ease;
    transform: scale(1.1);
}

.expand-btn {
    width: 77%;
    background-color: white;
}

.expand-btn:active {
    background-color: white;
}

.expand-btn:hover {
    background-color: white;
}